body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    width: 100%;
    background-color: blueviolet;
    color: white;
    padding: 3em 0;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    text-align: center;
}

form {
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 0.5rem 0;
}

.inline {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}
input{
    border-radius: 0.25rem;
    border-color:transparent;
}


input, select {
    margin: 10px 0 0 0;
    padding: 0.75rem;
}

.input-textarea {
    min-width: 100px;
    width: 100%;
    padding: 0.5rem;
    height: 100px;
}

.radio, .checkbox {
    display: inline-block;
    padding-left:5px;
    margin-right: 0.5rem;
}

.dropdown {
    display: block;
    width: 100%;
    color: #495057;
    border-radius: 0.25rem;
}

.submit {
    display: block;
    width: 100%;
    background:#37af65;
    color:#ffffff;
}
.inputfield{
    width:100%;
    margin-bottom: 1rem;

}
#survey-form {
    background: rgba(27, 27, 50, 0.8);
    padding: 25px;
    border-radius: 10px;
}
#description{
    font-style: italic;
    font-weight:lighter;
}